@model SYGESTMunicipal.Areas.OFGA.Models.ViewModel.PersonOFGAComplaintViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
    List<SelectListItem> Lista = ViewBag.listaPersonOFGA;
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Realizar Denuncia</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Complaint" asp-action="Index">Registro de Denuncias</a></li>
                <li>Denuncia</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Formular Denuncia
            </h3>
        </div>
    </div>
  

    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <h2 class="text-info">Nuevo Registro</h2>
                <br>
                <form method="post" asp-action="Create">
                    <div class="backgroundWhite">
                        <div asp-validation.summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-md-2 col-lg-2">
                                <h5><label asp-for="Description" class="col-form-label">Descripción</label></h5>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <textarea asp-for="Description" rows="4" cols="50"
                                          class="form-control"> </textarea>
                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-2">
                                <h5><label asp-for="Date" class="col-form-label">Fecha</label></h5>
</div>
                            <div class="col-8">
                                <input asp-for="Date" class="form-control" />
                            </div>
                            <span asp-validation-for="Date" class=" text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2 col-lg-2">
                                <h5><label asp-for="PersonOFGAId" class="col-form-label">Persona Denunciante</label></h5>
</div>
                            <div class="col-md-8 col-lg-8">
                                <select asp-for="PersonOFGAId" class="form-control"
                                        asp-items="@Lista"></select>
                            </div>
                            <span asp-validation-for="PersonOFGAId" class="text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-5 offset-2">
                                <partial name="_CreateAndBackToListButton" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
     </div>
        </div>
</main>

