@model SYGESTMunicipal.Areas.OFGA.Models.ViewModel.PersonOFGAComplaintViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
    List<SelectListItem> Lista = ViewBag.listaPersonOFGA;
}



<br />
<h2 class="text-info">Eliminar Registro</h2>
<br />
<form method="post" asp-action="Delete">
    <div class="border backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <h5><label asp-for="Id" class="col-form-label"></label></h5>
</div>
            <div class="col-5">
                <input asp-for="Id" class=" form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <h5><label asp-for="Description" class="col-form-label"></label></h5>
</div>
            <div class="col-md-6 col-lg-6">
                <textarea asp-for="Description" rows="4" cols="50"
                          class="form-control"> </textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <h5><label asp-for="Date" class="col-form-label"></label></h5>
</div>
            <div class="col-5">
                <input asp-for="Date" readonly type="datetime" class=" form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>


