<div class="form-group row">
    <div class="col-md-5 text-md-right">
        <input type="button" value="Agregar" id="btnAgregar"
               class="btn btn-success" style="width: 80%;"
               onclick="abrirModal()" />
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-5 text-md-center">
        <a asp-action="Index" type="button"
           class="btn btn-success"
           style="width: 80%;">Regresar </a>
    </div>
</div>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar', '¿Realmente Desea agregar?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'Agregado!',
                    'Operación con éxito!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'Operación Fracasada!!!:)',
                    'error'
                )
            }
        })
    }
</script>


