@model int
<div class="form-group row">
    <div class="col-md-5 colo-lg-4 text-right">
        <input type="button" value="Editar" id="btnEditar"
               class="btn btn-success" style="width: 80%;"
               onclick="abrirModal()" />
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-5">
        <a asp-action="Index" type="button"
           class="btn btn-success"
           style="width: 80%;">Regresar </a>
    </div>
</div>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Modificar', '¿Realmente Desea modificar?').then((result) => {
            if (result.value) {
                var viewEditar = document.getElementById("viewEditar");
                viewEditar.submit();
                Swal.fire(
                    'Modificado!',
                    'Operación con éxito!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'Operación Fracasada!!!:)',
                    'error'
                )
            }
        })
    }
</script>


