@model int
@using SYGESTMunicipal.Utility

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFGA) || User.IsInRole(SD.CollManager) || User.IsInRole(SD.AdminOFPA) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-6">
            <input type="submit" class="btn btn-info form-control" asp-route-id="@Model"
                   value="Editar" />
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
        </div>
    </div>
}