@using SYGESTMunicipal.Utility
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="~/Patentes/img/favicon.png">


    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/lib/ej.responsive.css" rel="stylesheet" />
    <script src="~/js/ej.web.all.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />

    <title>Oficina de Patentes</title>

    <!-- Bootstrap CSS -->
    <link href="~/Patentes/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Patentes/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Patentes/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Patentes/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/Patentes/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/Patentes/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/Patentes/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/Patentes/css/owl.carousel.css" type="text/css">
    <link href="~/Patentes/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/Patentes/css/fullcalendar.css">
    <link href="~/Patentes/css/widgets.css" rel="stylesheet">
    <link href="~/Patentes/css/style.css" rel="stylesheet">
    <link href="~/Patentes/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Patentes/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/Patentes/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/lib/ej.responsive.css" rel="stylesheet" />
    <script src="~/js/ej.web.all.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">


        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="index.html" class="logo"><span class="lite">OFICINA DE PATENTES</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <br />
                <ul class="sidebar-menu">
                    
                    <li class="logo-img">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/images/LogoMunicipal.png" alt="">
                        </a>

                    </li>

                    <li class="sidebar-menu">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">SyGest Municipal</a>
                    </li>
                    <li class="sidebar-menu active">
                        <a class="nav-link" asp-area="PATENTES" asp-controller="Home" asp-action="Index">Oficina de Patentes</a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_documents_alt"></i>

                            <span>Formularios</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFPA) || User.IsInRole(SD.FrontDeskUser) || User.IsInRole(SD.Guest))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="PATENTES" asp-controller="Establishment" asp-action="Index">Establecimiento</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="PATENTES" asp-controller="PersonPatentes" asp-action="Index">Persona</a>
                                </li>
                            }

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_globe"></i>
                            <span>Servicios</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFPA) || User.IsInRole(SD.FrontDeskUser))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="PATENTES" asp-controller="Home" asp-action="Index">Solicitud de Patentes</a>
                                </li>
                            }

                        </ul>
                    </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
                            </li>
                </ul>

                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    </section>


    <div class="show fullscreen">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <!-- javascripts -->
    <script src="~/Patentes/js/jquery.js"></script>
    <script src="~/Patentes/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Patentes/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Patentes/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Patentes/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/Patentes/js/jquery.scrollTo.min.js"></script>
    <script src="~/Patentes/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="~/Patentes/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Patentes/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Patentes/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Patentes/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <
    <script src="~/Patentes/js/fullcalendar.min.js"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="~/Patentes/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="~/Patentes/js/calendar-custom.js"></script>
    <script src="~/Patentes/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="~/Patentes/js/jquery.customSelect.min.js"></script>
    <script src="~/Patentes/assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="~/Patentes/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="~/Patentes/js/sparkline-chart.js"></script>
    <script src="~/Patentes/js/easy-pie-chart.js"></script>
    <script src="~/Patentes/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Patentes/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Patentes/js/xcharts.min.js"></script>
    <script src="~/Patentes/js/jquery.autosize.min.js"></script>
    <script src="~/Patentes/js/jquery.placeholder.min.js"></script>
    <script src="~/Patentes/js/gdp-data.js"></script>
    <script src="~/Patentes/js/morris.min.js"></script>
    <script src="~/Patentes/js/sparklines.js"></script>
    <script src="~/Patentes/js/charts.js"></script>
    <script src="~/Patentes/js/jquery.slimscroll.min.js"></script>
    <script>
        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>

</body>

</html>