@using SYGESTMunicipal.Utility
<!DOCTYPE html>
<html lang="es">

<head class="ftco-bg-dark-main">
    <title>@ViewData["Title"] - SYGEST Municipal</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*inicio*@
    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/lib/ej.responsive.css" rel="stylesheet" />
    <script src="~/js/ej.web.all.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />"
    @*fin*@
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/jquery-ui.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link href="~/css/icomoon.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/Patentes/OP/assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="search-background" style="color:black">
        <div class="container pt-3 pb-2">
            <div class="container pt-3 pb-2">
                <div class="row justify-content-between">
                    <div class="col-md-8 order-md-last">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a class="navbar-brand" style="color:#8c552e" asp-area="" asp-controller="Home" asp-action="Index">SyGest<span>Municipal</span> </a>
                            </div>
                            <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                                <form action="#" class="searchform order-lg-last">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control pl-3" placeholder="Search">
                                        <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg">
                        <div class="social-media">
                            <p class="mb-0 d-flex">
                                @* LINKS DE LAS REDES SOCIALES *@
                                <a href="https://www.facebook.com/MUNICIPALIDAD-DE-HOJANCHA-218380324851885/" class="d-flex align-items-center justify-content-center">
                                    <span class="fa fa-facebook">
                                        <i class="sr-only">Facebook</i>
                                    </span>
                                </a>
                                <a href="https://www.instagram.com/explore/locations/256658138352395/municipalidad-hojancha/" class="d-flex align-items-center justify-content-center">
                                    <span class="fa fa-instagram">
                                        <i class="sr-only">Instagram</i>
                                    </span>
                                </a>
                                @* FIN LINKS DE LAS REDES SOCIALES *@

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* NAV *@
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark " id="ftco-navbar">
        <div class="container-fluid">

            @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SYGEST</a>*@

            @* LOGO EN EL NAV *@
            <div class="logo-img">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/LogoMunicipal.png" alt="">
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="">
                </a>
            </div>
            @* FIN LOGO EN EL NAV *@

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">

                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    @if (User.IsInRole(SD.ManagerUser))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Empleados</a>
                        </li>
                    }
                    <li class="nav-item dropdown text-white-50">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                           role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                            <a class="dropdown-item" asp-action="Index"
                               asp-controller="Home" asp-area="PATENTES">Oficina de Patentes</a>

                            <a class="dropdown-item" asp-action="Index"
                               asp-controller="Home" asp-area="OFGA">Oficina de Gestión Ambiental</a>

                            <a class="dropdown-item" asp-action="Index"
                               asp-controller="Home" asp-area="OFIM">Oficina de La Mujer</a>

                        </div>
                    </li>


                    <li class="nav-item dropdown text-white-50">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink"
                           role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Trámites
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navabarDropDownMenuLink">
                            <a class="dropdown-item" asp-action="Create"
                               asp-controller="PersonPatentes" asp-area="PATENTES">Solicitar una Patente</a>

                            <a class="dropdown-item" asp-action="Create"
                               asp-controller="Complaint" asp-area="OFGA">Denuncia Ambiental</a>

                            @*<a class="dropdown-item" asp-action="Index"
                                asp-controller="Home" asp-area="OFIM">Empresariedad</a>*@

                        </div>


                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Contactenos">Contáctanos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Index">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Index">Privacidad</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    @* Nav *@


    <div class="show fullscreen">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @* FOOTER*@
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="logo"><a href="#">SyGest <span>Municipal</span></a></h2>
                        <p>Servicios al Alcance.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">

                            <li class="ftco-animate">
                                <a href="https://www.facebook.com/MUNICIPALIDAD-DE-HOJANCHA-218380324851885/" class="d-flex align-items-center justify-content-center">
                                    <span class="fa fa-facebook">
                                        <i class="sr-only">Facebook</i>
                                    </span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="https://www.instagram.com/explore/locations/256658138352395/municipalidad-hojancha/" class="d-flex align-items-center justify-content-center">
                                    <span class="fa fa-instagram">
                                        <i class="sr-only">Instagram</i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Servicios</h2>
                        <ul class="list-unstyled">

                            <li>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="OFIM">
                                    <span class="ion-ios-arrow-forward mr-3">
                                    </span>Oficina de La Mujer
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="PATENTES">
                                    <span class="ion-ios-arrow-forward mr-3">
                                    </span>Oficina de Patentes
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="OFGA">
                                    <span class="ion-ios-arrow-forward mr-3">
                                    </span>Oficina de Gestión Ambiental
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Información de Contacto</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li>

                                    <i class="icon icon-map-marker"></i>
                                    <a href="https://www.google.com/maps/place/Municipalidad+de+Hojancha/10.0585518,-85.4189673,18z/data=!4m5!3m4!1s0x8f9fbab7c3d45245:0xb2000651b89c1e5b!8m2!3d10.0587462!4d-85.4178777?hl=es">
                                        Úbicanos: Costado Norte del Parque
                                    </a>
                                </li>

                                <li>

                                    <i class="icon icon-phone"> </i>
                                    <a href="tel:+506 2659 9116">
                                        Llámanos: 2659 9116
                                    </a>

                                <li>
                                    <i class="icon icon-web"></i>
                                    <a href="http://www.munihojancha.com/">
                                        Página Web: munihojancha.com
                                    </a>
                                </li>

                                <li>
                                    <i class="icon icon-envelope"></i>
                                    <a href="mailto:%69%6efo%40muniho%6aan%63%68a.%63om">
                                        Contáctanos: info@munihojancha.com
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Horario de Atención</h2>
                        <div class="opening-hours">
                            <h4>Abierto los Días:</h4>
                            <p class="pl-3">
                                <span>Lunes – Viernes : 7:30 am a 3:30 pm</span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; 2020 - Municipalidad de Hojancha -
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        <br />
                        Todos los derechos reservados by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @* FOOTER *@

    <!-- loader -->
    @*<div id="ftco-loader" class="show fullscreen">
            <svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
            </svg>
        </div>*@


    @* SCRIPT*@
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    @* SCRIPT*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js"></script>
    @RenderSection("Scripts", required: false);
</body>
</html>
