
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="wrapper">
                    <div class="row mb-5">
                        <br>
                        <h2 class="mb-3">Política de Privacidad</h2>
                        <br />
                        <div>
                            <h5>¿Cómo registrarse en el sitio web de la Municipalidad?</h5>
                        </div>
                        <p>
                            Cada usuario puede registrarse en nuestro sitio web a través de la página de
                            <a class="item" asp-action="Register" asp-controller="Account" asp-area="Identity">
                                Registrarse.
                            </a>
                            La información ofrecida por cada contribuyente o usuario, será utilizada para:
                        </p>
                        <p>
                            Poder actualizar los datos del contribuyente o usuario. Este se deberá presentarse a la Municipalidad debidamente identificado para entregarle una clave
                            o contraseña de acceso a los servicios virtuales que ofrece la página, esta clave o contraseña que se le entregará en la Municipalidad, al ingresar al sitio por primera vez, se le solicitará que la modifique para mayor seguridad.
                        </p>
                        <p>Esto anterior, ayudará a la funcionalidad de olvidé mi contraseña ya que, a través de esta funcionalidad, se le enviará una nueva clave o contraseña a su cuenta de correo electrónico registrada en la Municipalidad. Si este es su caso, dicha contraseña deberá ser modificada al ingresar nuevamente a la página web de la Municipalidad.</p>
                        <p>Si el contribuyente o usuario no cuenta con un correo eletrónico para utilizar nuestros servicios virtuales, deberá presentarse a la Municipalidad identificado debidamente de forma presencial para entregarle una nueva clave o contraseña de acceso.</p>

                        <h2 class="mb-3 mt-5">Recopilación de información personal</h2>
                        <p>La información personal de cada contribuyente que sea incluida por medio de nuestra página web será tomada como información correcta y veraz, cualquier dato que no sea correcto será responsabilidad total del contribuyente.</p>

                    </div>

                    <div class="row mb-5">
                        <h2 class="mb-3 mt-5">Uso de la información</h2>
                        <p>La información recopilada por la Municipalidad en nuestra página web podrá ser utilizada para: Registrarlo como contribuyente, Actualizar sus datos ya existentes y Responder sus preguntas o sugerencias.</p>

                    </div>

                    <div class="row mb-5">
                        <h2 class="mb-3 mt-5">Información compartida</h2>
                        <p>La Municipalidad no vende ni renta su información personal a nadie.</p>

                    </div>

                    <div class="row mb-5">
                        <h2 class="mb-3 mt-5">Nuestras obligaciones</h2>
                        <p>La Municipalidad está obligada por ley a salva guardar toda la información del contribuyente y solo podrá entregar la misma si las autoridades judiciales lo solicitan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->



