@using SYGESTMunicipal.Utility
@model SYGESTMunicipal.Areas.OFIM.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";

}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light" style="text-align:center;
                              background-color:darkslategray;width:100%;">
                Agregar una Categoria
            </h3>
        </div>
    </div>
    <br />

    <form asp-action="Create" asp-controller="Category" method="post" id="viewAgregar">
        <div class="container-fluid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Name" class="col-form-label">Nombre</label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </div>
    </form>
}