@model SYGESTMunicipal.Areas.OFGA.Models.RecoverableMaterialRecovery
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Agregar Puntos de Recuperación</h2>

                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="RecoverableMaterialRecovery" asp-action="Index">Puntos de Recuperación</a></li>
                <li>Agregar Puntos</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Agregar
            </h3>
        </div>
    </div>


    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <h2 class="text-info">Nuevo Registro</h2>
                <br>
                <form method="post" asp-action="Create" id="viewAgregar">
                    <div class="backgroundWhite">
                        <div asp-validation.summary="ModelOnly" class="text-danger"></div>



                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="Weight" class="col-form-label"></label></h5>
</div>
                            <div class="col-md-9">
                                <input asp-for="Weight" class="form-control" />
                            </div>
                            <span asp-validation-for="Weight" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="PlaceName" class="col-form-label"></label></h5>
</div>
                            <div class="col-md-9">
                                <input asp-for="PlaceName" class="form-control" />
                            </div>
                            <span asp-validation-for="PlaceName" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-2">
                                <h5><label asp-for="EntryDate" class="col-form-label"></label></h5>
</div>
                            <div class="col-md-8">
                                <input type="date" asp-for="EntryDate" class="form-control" />
                            </div>
                            <span asp-validation-for="EntryDate" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-md-5 offset-2">
                                <partial name="_CreateAndBackToListButton" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
</main>


