@model SYGESTMunicipal.Areas.OFGA.Models.RecoverableMaterialRecovery
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
    String Fecha = @ViewBag.EntryDate;
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Editar Punto de Recuperación</h2>

                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="RecoverableMaterialRecovery" asp-action="Index">Puntos de Recuperación</a></li>
                <li>Editar Punto</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:darkslategray;">
                Editar
            </h3>
        </div>
    </div>
    <br />
    <!-- ======= About Section ======= -->
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="contact-wrap w-100 p-md-5 p-4">
                <form method="post" asp-action="Edit">
                    <div class="backgroundWhite">



                        <div class=" form-group row">
                            <div class=" col-2">
                                <h5><label asp-for="Weight" class="col-form-label"></label></h5>
</div>
                            <div class="col-9">
                                <input asp-for="Weight" class="form-control" />
                            </div>
                            <span asp-validation-for="Weight" class=" text-danger"></span>
                        </div>

                        <div class=" form-group row">
                            <div class=" col-2">
                                <h5><label asp-for="PlaceName" class="col-form-label"></label></h5>
</div>
                            <div class="col-9">
                                <input asp-for="PlaceName" class="form-control" />
                            </div>
                            <span asp-validation-for="PlaceName" class=" text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-2">
                                <h5><label asp-for="EntryDate" class="col-form-label"></label></h5>
                            </div>
                            <div class="col-8">
                                <input asp-for="EntryDate" type="text" id="datepicker" class="form-control" />
                            </div>
                        </div>
                        <div class="form-grouprow">
                            <div class="col-5 offset-2">
                                <partial name="_EditAndBackToListButton" model="Model.Id" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
     </div>
   </div>
</main>

