@using SYGESTMunicipal.Utility
@model SYGESTMunicipal.Areas.OFIM.Models.ViewModel.EmpresaAndClasificacionViewModel
@using SYGESTMunicipal.Extensions

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";

}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light" style="text-align:center;
                              background-color:darkslategray;width:100%;">
                Editar Empresas
            </h3>
        </div>
    </div>
    <br />

    <form asp-action="Edit" asp-controller="Empresa" id="viewEditar">
        <div class="container-fluid">
            <input type="hidden" asp-for="Empresa.ClasificacionID" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Empresa.Name" class="form-control" />
                </div>
                <span asp-validation-for="Empresa.Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.Manager" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Empresa.Manager" class="form-control" />
                </div>
                <span asp-validation-for="Empresa.Manager" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.Description" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Empresa.Description" class="form-control" />
                </div>
                <span asp-validation-for="Empresa.Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.Direction" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Empresa.Direction" class="form-control" />
                </div>
                <span asp-validation-for="Empresa.Direction" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.WebPage" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Empresa.WebPage" class="form-control" />
                </div>
                <span asp-validation-for="Empresa.WebPage" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.Telephone" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Empresa.Telephone" class="form-control" />
                </div>
                <span asp-validation-for="Empresa.Telephone" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.Email" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Empresa.Email" class="form-control" />
                </div>
                <span asp-validation-for="Empresa.Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Empresa.Clasificacion.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <select manifest="ddlCategory" asp-for="Empresa.ClasificacionID" disabled
                            asp-items="Model.Clasificacion.ToSelectListItem(Model.Empresa.ClasificacionID)"
                            class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_EditAndBackToListButton" model="Model.Empresa.Id" />
                </div>
            </div>
        </div>
    </form>
}
