@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "/*Forgot password confirmation*/  Confirmación de Contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por Favor Revise su Email para Restablecer su Contraseña.
</p>

