@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Actualmente Esta Aplicación No Tiene un Email Sender Registrado, Vea Estos Documentos <a href="https://aka.ms/aspaccountconf"></a> para Saber Cómo Configurar un Email Sender Real.
    Normalmente esto debseria Ser Enviado a : <a id="confirm-link" href="@Model.EmailConfirmationUrl">Presione Aquí para Confirmar la Cuenta</a>
</p>
    }
    else
    {
<p>
        Por Favor Revise su Email para Confirmar su Contraseña.
</p>
    }
}
