@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "/*Reset password confirmation*/ Restablecer Confirmación de Contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su Contraseña ha Sido Restablecida. Por Favor <a asp-page="./Login">Presione Aquí para Iniciar Sesión</a>.
</p>
