@using SYGESTMunicipal.Utility
@model SYGESTMunicipal.Areas.PATENTES.Models.PersonPatentes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPATENTES.cshtml";
}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFPA))
{
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-files-o"></i> Formulario de Persona Patente</h3>
                    <ol class="breadcrumb">

                        <li class="nav-item">
                            <i class="fa fa-th"></i>
                            <a class="nav-link" asp-area="PATENTES" asp-controller="PersonPatentes" asp-action="Index">Persona Patentes</a>
                        </li>
                        <li><i class="fa fa-files-o"></i>Formulario</li>
                    </ol>
                </div>
            </div>

            <!-- Form validations -->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Formulario
                        </header>
                        <div class="panel-body">
                            <div class="form">

                                <h2 class="text-info">Detalles de Persona Patentada</h2>
                                <br />
                                <form method="post" asp-action="Details">
                                    <div class="border backgroundWhite">
                                        <div asp-validation.summary="ModelOnly" class="text-danger"></div>
                                        <br>
                                        <h5 class="text-black-50">Datos Generales</h5>
                                        <br>
                                        @*Cedula*@
                                        <div class=" form-group row">
                                            <label asp-for="PersonId" class="col-form-label col-lg-2">Cédula o Pasaporte</label>
                                            <div class="col-lg-9">
                                                <input asp-for="PersonId" readonly class="form-control" minlength="5" type="text" required />
                                            </div>

                                        </div>

                                        @*Nombre*@
                                        <div class=" form-group row">
                                            <label asp-for="Name" class="col-form-label col-lg-2">Nombre</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Name" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*LastName1*@
                                        <div class=" form-group row">
                                            <label asp-for="LastName1" class="col-form-label col-lg-2">Primer Apellido<span class="required">*</span></label>
                                            <div class="col-lg-9">
                                                <input asp-for="LastName1" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*LastName2*@
                                        <div class=" form-group row">
                                            <label asp-for="LastName2" class="col-form-label col-lg-2">Segundo Apellido</label>
                                            <div class="col-lg-9">
                                                <input asp-for="LastName2" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*Address*@
                                        <div class=" form-group row">
                                            <label asp-for="Address" class="col-form-label col-lg-2">Dirección</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Address" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*Province*@
                                        <div class=" form-group row">
                                            <label asp-for="Province" class="col-form-label col-lg-2">Provincia</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Province" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*Canton*@
                                        <div class=" form-group row">
                                            <label asp-for="Canton" class="col-form-label col-lg-2">Cantón</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Canton" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*Distric*@
                                        <div class=" form-group row">
                                            <label asp-for="District" class="col-form-label col-lg-2">Distrito</label>
                                            <div class="col-lg-9">
                                                <input asp-for="District" readonly class="form-control" />
                                            </div>
                                            <span asp-validation-for="District" class=" text-danger"></span>
                                        </div>
                                        @*Neighborhood*@
                                        <div class=" form-group row">
                                            <label asp-for="Neighborhood" class="col-form-label col-lg-2">Barrio</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Neighborhood" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*TelephoneNumber*@
                                        <div class=" form-group row">
                                            <label asp-for="TelephoneNumber" class="col-form-label col-lg-2">Número de Teléfono</label>
                                            <div class="col-lg-9">
                                                <input asp-for="TelephoneNumber" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*CellphoneNumber*@
                                        <div class=" form-group row">
                                            <label asp-for="CellphoneNumber" class="col-form-label col-lg-2">Número de Celular</label>
                                            <div class="col-lg-9">
                                                <input asp-for="CellphoneNumber" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*Fax*@
                                        <div class=" form-group row">
                                            <label asp-for="Fax" class="col-form-label col-lg-2">Número de Fax</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Fax" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*Email*@
                                        <div class=" form-group row">
                                            <label asp-for="Email" class="col-form-label col-lg-2">Correo</label>
                                            <div class="col-lg-9">
                                                <input asp-for="Email" readonly class="form-control" />
                                            </div>

                                        </div>


                                        <br>
                                        <h5 class="text-black-50">Persona Fisica</h5>
                                        <br>
                                        @*Name fisic*@
                                        <div class=" form-group row">
                                            <label asp-for="NameF" class="col-form-label col-lg-2"></label>
                                            <div class="col-lg-9">
                                                <input asp-for="NameF" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*LastName1f*@
                                        <div class=" form-group row">
                                            <label asp-for="LastName1F" class="col-form-label col-lg-2"></label>
                                            <div class="col-lg-9">
                                                <input asp-for="LastName1F" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*LastName2f*@
                                        <div class=" form-group row">
                                            <label asp-for="LastName2F" class="col-form-label col-lg-2"></label>
                                            <div class="col-lg-9">
                                                <input asp-for="LastName2F" readonly class="form-control" />
                                            </div>

                                        </div>
                                        @*FisicId*@
                                        <div class=" form-group row">
                                            <label asp-for="FisicID" class="col-form-label col-lg-2"></label>
                                            <div class="col-lg-9">
                                                <input asp-for="FisicID" readonly class="form-control" />
                                            </div>

                                        </div>
                                        <br>
                                        <h5 class="text-black-50">Persona Jurídica</h5>
                                        <br>
                                        @*NameJ*@
                                        <div class=" form-group row">
                                            <label asp-for="NameJ" class="col-form-label col-lg-2"></label>
                                            <div class="col-lg-9">
                                                <input asp-for="NameJ" readonly class="form-control" minlength="5" type="text" />
                                            </div>

                                        </div>
                                        @*NameJs*@
                                        @*<div class=" form-group row">
            <label asp-for="NameJS" class="control-label col-lg-2"></label>
            <div class="col-lg-9">
                <input asp-for="NameJS" class="form-control" />
            </div>
            <span asp-validation-for="NameJS" class=" text-danger"></span>
        </div>*@
                                        @*IdJuridic*@
                                        <div class=" form-group row">
                                            <label asp-for="JuridicId" class="col-form-label col-lg-2"></label>
                                            <div class="col-lg-9">
                                                <input asp-for="JuridicId" readonly class="form-control" />
                                            </div>

                                        </div>
                                        <div class=" form-group row">
                                            <div class="col-lg-offset-2 col-lg-6">
                                                <partial name="_DetailsAndBackToListButtonString" model="@Model.PersonId" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
}