
@{
    ViewData["Title"] = "CentroAcopio";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>CENTRO DE ACOPIO</h2>
                    <h5>
                        Una bolsa de plástico tarda al rededor de 150 años en degradarse mientras que una botella puede alcanzar
                        los 1000 años para hacerlo, por lo que se hace necesario
                        dejar de seguir produciéndolo, puesto que su impacto para el ambiente es catastrófico.
                    </h5>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
                <li>Centro de Acopio</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container text-center">

            <div class="container" style="text-align: center; width: 80%;">

                <div class="owl-carousel portfolio-details-carousel">
                    <img src="~/Ambiental/assets/img/portafolio/InfoCentroAcopio.png" class="img-fluid" alt="">
                    <img src="~/Ambiental/assets/img/portafolio/Info.png" class="img-fluid" alt="">
                    <img src="~/Ambiental/assets/img/portafolio/infoCanton.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="portfolio-description text-left">
                <h2>Trabajos Realizados</h2>
                <h5>Equipamos el centro de acopio adecuado con las condiciones para su funcionamiento, desde el 2017. A través de esto se ha podido recibir otro tipo de materiales ya que antes sólo botellas y aluminio, luego se compraron equipos como la compactadora, la quebradora de vidrio y una pesa, lo que ahora permite recibir más diversidad de materiales.</h5><br />
                <h2>Horarios de Atención del Centro de Acopio</h2>
                <h5>De lunes a jueves desde las 6:00 am a las 4:00 pm y los días viernes de 6:00 am a 2:30 pm.</h5><br />
                <h2>Ubicación del Centro de Acopio</h2>
                <h5>Puede hacer llegar los residuos valorizables al centro de recuperación ubicado a:</h5>
                <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="text">
                        <p><a href="https://goo.gl/maps/PX6usMkTMS1nPGU87" target="_blank"><h4>Costado Este de la plaza de Deportes, La Gran Vía. Hojancha, Guancaste.</h4></a></p>
                    </div>
                </div>
            </div>
         </div>
    </section><!-- End Portfolio Details Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>¿Qué Podemos Reciclar?</h2>
                    <h5>
                        El Centro de Acopio, solo recibe materiales que puede procesar según su equipamiento, por los que a continuación se le especifica, qué tipos de materiales le podemos recibir en los horarios establecidos con anterioridad.
                    </h5>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
                <li>Centro de Acopio</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="faq" class="faq section-bg">
        <div class="container">


            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Se Recomienda Usar Como Compostaje:</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Restos de Alimentos.<br>
                        Frutas, verduras, cáscaras.<br>
                        Residuos de jardín.<br>
                        No se incluyen los residuos de origen animal.<br>
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Envases (Llevar al Centro de Acopio).</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Envases plásticos tipo 1 y 2.<br />
                        Envases Tetra Pak.
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Aluminio (Llevar al Centro de Acopio).</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Latas de aluminio de alimentos y bebidas.<br>
                        Latón.<br>
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Papel o Cartón (Llevar al Centro de Acopio).</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Papel.<br>
                        Revistas.<br />
                        Cuadernos.<br />
                        Cartulina.<br />
                        Periódico.<br />
                        Folders.<br />
                        Cartón.<br />
                        Todo Limpio y Seco.<br />
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Vidrio (Llevar al Centro de Acopio).</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Envases de vidrio, excepto materiales de vidrio plano como: Residuos de ventana, celosías, cerámicas. entre otros.
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Residuos Ordinarios (Se Deben Disponer Para El Camión Recolector).</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Cartón sucio, papel sucio, papel aluminio, telas y servilletas.<br />
                        Residuos de origen animal y servicio sanitario.
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

        </div>
    </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->
