
@{
    ViewData["Title"] = "CentroAcopio";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>CENTRO DE ACOPIO</h2>
                    <h5></h5>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
                <li>Centro de Acopio</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="portfolio-details-container">

                <div class="owl-carousel portfolio-details-carousel">
                    <img src="~/Ambiental/assets/img/portafolio/hdpe.png" class="img-fluid" alt="">
                    <img src="~/Ambiental/assets/img/portafolio/MaterialAluminio.png" class="img-fluid" alt="">
                    <img src="~/Ambiental/assets/img/portafolio/Pete.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="portfolio-description">
                <h2>Trabajo</h2>
                <h5>
                    Equipamos el centro de acopio adecuado con las condiciones para su funcionamiento, desde el 2017, sumado a la ampliación del horario y también el tipo de material que se recibe, antes sólo botellas y
                    aluminio, luego se compraron equipos como la compactadora, la quebradora de vidrio y una pesa, lo que ahora permite recibir más materiales.
                </h5>
            </div>

        </div>

    </section><!-- End Portfolio Details Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>¿Qué Podemos Reciclar?</h2>
                    <h5>
                        Una bolsa de plástico tarda al rededor de 150 años en degradarse mientras que una botella puede alcanzar
                        los 1000 años para hacerlo, por lo que se hace necesario
                        dejar de seguir produciéndolo, puesto que su impacto para el ambiente es catastrófico.
                    </h5>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
                <li>Centro de Acopio</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="faq" class="faq section-bg">
        <div class="container">


            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Envases Reciclables como:</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Botellas de plástico<br>
                        Botellas de detergente, champú, gel...<br>
                        Tapas y tapones de plástico<br>
                        Bolsas de plástico, excepto las bolsas de basura<br>
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Latas</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Latas de refresco ya que están hechas de aluminio y se puden reciclar un sin número de veces
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Embases de Papel y Cartón</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Revistas<br>
                        Periódicos<br>
                        Cajas de cereales<br>
                        Cajas de zapatos<br>
                        Papel de envolver<br>
                        Cuadernos<br>
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Vidrios</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Botellas de vidrio<br>
                        Frascos de Vidrio (como perfumes o colonias)
                        Tarros de alimentos (como de mermelada, conservas, etc.)
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h2>Pilas y Baterías</h2>
                </div>
                <div class="col-lg-7">
                    <h5>
                        Las plilas que se utilizan para el control remoto, el mouse, etc... Y que no debemos de tirar con el resto de basura ya que, tiene componetes altamente contaminantes.
                    </h5>
                </div>
            </div><!-- End F.A.Q Item-->

        </div>
    </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->
