
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Contacto</h2>
                    <h5>Para contactarse con nosotros puede hacerlo por medio del correo electronico, llamarnos a nuestro número de teléfono con la extensión brindada o si gusta, puede hacerlo en nuestra oficina, cuya dirección exacta está indicada en esta sección. </h5>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="ftco-section bg-light" style="color:#8c552e">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row mb-5">
                            <h2 class="subheading">Contáctenos</h2>
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d125711.73084623035!2d-85.417878!3d10.058746!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2000651b89c1e5b!2sMunicipalidad%20de%20Hojancha!5e0!3m2!1ses!2sbg!4v1602986960202!5m2!1ses!2sbg" width="1100" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Dirección: </span><a href="https://www.google.com/maps/place/Municipalidad+de+Hojancha/10.0585518,-85.4189673,18z/data=!4m5!3m4!1s0x8f9fbab7c3d45245:0xb2000651b89c1e5b!8m2!3d10.0587462!4d-85.4178777?hl=es" target="_blank">Costado Norte de Hojancha</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Telefóno: </span><a href="tel:+506 2659 9116">+506 2659 9116 Ext: 223</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Correo: </span><a href="mailto:%69%6efo%40muniho%6aan%63%68a.%63om">gestionambiental@munihojancha.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Sito Web: </span><a href="http://www.munihojancha.com/" target="_blank">Muni Hojancha</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--Fin Section Contactos -->
    @*<div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nombre Completo" data-rule="minlen:4" data-msg="Ingrese al menos 4 caracteres" />
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico" data-rule="email" data-msg="Por favor introduzca una dirección de correo electrónico válida" />
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Ingrese al menos 8 caracteres de asunto" />
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribe algo para nosotras" placeholder="Mensaje"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Cargando</div>
                    <div class="error-message">Error al enviar mensaje</div>
                    <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>

        </div>*@

    </div>

    </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->