
@{
    ViewData["Title"] = "Ecoins";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>ECOINS</h2>
                    <h5>
                        Ahora en el centro de acopio de la Municipalidad de Hojancha, otorgamos ECOINS. Recicla y gana, participemos todos de esta iniciativa,
                        por un catón más limpio enfocado en la sostenibilidad. Para inscribirse acceda a este Link:
                    </h5>
                    <p>
                        <a href="https://costarica.ecoins.eco/">
                            <h5>https://costarica.ecoins.eco/</h5>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
                <li>Ecoins</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="portfolio-description">
                <h2>¿Qué es el Ecoins?</h2>
                <p>
                   Los Ecoins son monedas virtuales las cuales se acumulan al reciclar, las que después se pueden intercambiar por productos, servicios en comercios apuntados a esta campaña que promueve la buena práctica
                    del reciclaje.
                </p>
            </div>

        </div>

    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
