
@{
    ViewData["Title"] = "GuardianesNaturaleza";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>GUARDIANES DE LA NATURALEZA</h2>
                    <h5>
                        Empoderamos un movimiento Latinoamericano de niños y docentes Guardianes de la Naturaleza. #MovimientoGuardianes. Nació en Nosara, Guanacaste: Fundación Del Mar Academy.
                    </h5>
                    <p>
                        <a href="https://movimientoguardianes.org/?fbclid=IwAR2R1YYmdrPr6cUg4Fe894S62er2wQxZnhT1Of-rXKJnqMUzcccRumNkpuI" target="_blank">
                            <h5>GUARDIANES DE LA NATURALEZA</h5>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
                <li>Guardianes de la Naturaleza</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="portfolio-description">
                <h2>​¿Te Gustaría Ser un Guardián de la Naturaleza?</h2>
                <p>
                    Dios nos dio el planeta más hermoso del universo, y a cada niño y niña les dio un don especial para ser un guardián del planeta. Puedes usar este don haciendo pequeñas y grandes acciones para cuidar de ella.
                </p>
                <p>
                    <a href="https://www.laguardianadelanaturaleza.org/mi-reto-ambiental.html" target="_blank">
                        <h5>Te invito a crear tu propio reto y compartirlo con tu escuela y con otros niños alrededor del mundo.</h5>
                    </a>
                </p>
            </div>

        </div>

    </section><!-- End Portfolio Details Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container text-center">

            <div class="container" style="text-align: center; width: 80%;">

                <div class="owl-carousel portfolio-details-carousel">
                    <img src="~/Ambiental/assets/img/portafolio/GN.png" class="img-fluid" alt="">
                    <img src="~/Ambiental/assets/img/portafolio/Guardianes.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="portfolio-description text-left">
                <h2>Plataforma Educativa para Docentes</h2>
                <h5>
                    Materiales y actividades dinámicas de educación ambiental gratuitas para docentes.
                </h5>
                <p>
                    <a href="https://movimientoguardianes.org/plataforma-educativa/" target="_blank">
                        <h5>ENTRAR A LA PLATAFORMA</h5>
                    </a>
                </p>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->


</main><!-- End #main -->
