
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Oficina de Gestión Ambiental</h1>
        <h2>Municipalidad de Hojancha</h2>
        @*<a asp-area="Identity" asp-page="/Account/Login" class="btn-get-started scrollto">Inicio de Sesión</a>*@
        <br />
        <h2><partial name="_LoginPartialOFGA"></h2>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <br />
            <br />
            <br />
            <br />
            <div class="row">

                 <div class="col-lg-6 video-box align-self-baseline">
                    <img src="~/Ambiental/assets/img/parque.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=TFddNcRGBAU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 pt-3 pt-lg-0 content">
                    <h3>Oficina de Gestión Ambiental.</h3>
                    <p class="font-italic">
                        Contribuir al desarrollo sostenible del cantón mediante la prestación de servicios ambientales,
                        educación ambiental,
                        conservacion y buenas prácticas ambientales.
                    </p>
                    <ul>
                        <li>
                            <i class="bx bx-check-double"></i> Gestionar de forma eficiente y
                            adecuada la recolección y disposición final de los residuos sólidos.
                        </li>

                        <li><i class="bx bx-check-double"></i> Promover la educación ambiental de los habitantes del cantón. </li>

                        <li>
                            <i class="bx bx-check-double"></i> Ejecutar e iniciar proyectos en conjunto con otras instituciones
                            en beneficio del cantón.
                        </li>

                    </ul>
                    <p>
                        Garantizar un ambiente sano y limpio para el bienestar de la población del cantón de Hojancha.
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="fade-in">
            <div class="form-group row">
                <div class="col-md-4 text-left">
                    <h3>Acción</h3>
                    <a class="btn btn-success" asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a>
                </div>

                <div class="col-md-4 text-center">
                    <h3>Llamando</h3>
                    <a class="btn btn-success" asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a>
                </div>
                
                <div class="col-md-3 text-right">
                    <h3>Llamando</h3>
                    <a class="btn btn-success" asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a>
                </div>
            </div>
            </div>
</section><!-- End Cta Section -->
    <!-- ======= Services Section ======= -->
    <a name="Servicios" id="Servicios"></a>
    <section id="services" class="services  section-bg ">
        <div class="container">

            <div class="section-title pt-5" data-aos="fade-up">
                <h2>Nuestros Servicios</h2>
            </div>

            <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a asp-area="OFGA" asp-controller="Complaint" asp-action="Create">Denuncias</a></h4>
                        <p class="description">Atención de Denuncias Ambientales</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a asp-area="OFGA" asp-controller="Talks" asp-action="Index">Charlas</a></h4>
                        <p class="description">Charlas con temas diversos sobre gestión ambiental</p>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
                            <h4 class="title"><a href="">Nemo Enim</a></h4>
                            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
                            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>
                </div>*@

        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->
