
@{
    ViewData["Title"] = "RecoleccionBasura";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>RECOLECCIÓN DE BASURA</h2>
                    <h5>
                        Empoderamos un movimiento Latinoamericano de niños y docentes Guardianes de la Naturaleza. #MovimientoGuardianes. Nació en Nosara, Guanacaste: Fundación Del Mar Academy.
                    </h5>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="IndexEduquemonos">Eduquémonos</a></li>
                <li>Recolección de Basura</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container text-center">

            <div class="container" style="text-align: center; width: 80%;">

                <div class="owl-carousel portfolio-details-carousel">
                    <img src="~/Ambiental/assets/img/portafolio/RB.png" class="img-fluid" alt="">
                    <img src="~/Ambiental/assets/img/portafolio/RecoleccionB.png" class="img-fluid" alt="">
                </div>

            </div>

            <div class="portfolio-description text-left">
                <h2>Trabajos Realizados</h2>
                <h5>.</h5><br />
                <h2>Rutas: Hojancha, Monte Romo, Huacas, Carrillo</h2>
               
                <h2>Horario de Recolección de Basura en Hojancha</h2>
                <h5>Los martes y viernes a partir de las 5 a.m.</h5><br />
                <h2>Horario de Recolección de Basura en Carrillo</h2>
                <h5>Los lunes y jueves a partir de las 5 a.m.</h5><br />
                <h2>Horario de Recolección de Basura en Monte Romo y Huacas</h2>
                <h5>Los miércoles a partir de las 5 a.m.</h5><br />
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->


</main><!-- End #main -->
