
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOPatentes.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Oficina de Patentes</h1>
        <h2>Municipalidad de Hojancha</h2>
        @*<a asp-area="Identity" asp-page="/Account/Login" class="btn-get-started scrollto">Inicio de Sesión</a>*@
        <br />
        <h2><partial name="_LoginPartialOFGA"></h2>
    </div>
</section><!-- End Hero -->

<main id="main">
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:#263182;">
                Objetivo de la Oficina de Patentes
            </h3>
        </div>
    </div>
    <br />
    <br />
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <br />
            <div class="row">
                <div class="col-lg-6 video-box align-self-baseline">
                    <br />
                    <br />
                    <br />
                    <br />
                    <img src="~/Patentes/assets/img/gallery-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-3 pt-lg-0 content">
                    <h3>Oficina de Patentes.</h3>
                    <p class="font-italic">
                        Establecida para Contribuir al desarrollo económico del cantón.
                    </p>
                    <ul>
                        <li>
                            <i class="bx bx-check-double"></i>Para que las personas físicas o jurídicas que se dediquen al ejercicio de actividades comerciales, puedan contar con la patente que los autorice para tal activida.
                        </li>

                        <li><i class="bx bx-check-double"></i> Estas actividades estarán obligadas a pagarle a la Municipalidad un impuesto de patentes que les dará facultad para ejercer esas actividades. </li>

                        <li>
                            <i class="bx bx-check-double"></i> Esto de conformidad con los artículos 3, 4 y 15 de la ley de patentes.
                        </li>

                    </ul>
                    <p>
                        Garantizando con esto que los productos o servicios ofrecidos a la comunidad cumplan con las leyes pertinentes tanto de salubridad, ambiente, pago de impuestos, entre otras.
                    </p>
                </div>

            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div id="inicio_Servicios" class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2> Pasos para la solicitud de Patentes</h2>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Services Section ======= -->
    <section class="services  section-bg ">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="las la-file-alt" style="color: #d6ff22;"></i></div>
                        <h4 class="title">Paso #1</h4>
                        <p class="description">Registrarse.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="las la-book" style="color:#3fcdc7;"></i></div>
                        <h4 class="title">Paso #2</h4>
                        <p class="description">Completar el formulario solicitado de patentes.</p>
                    </div>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
                        <h4 class="title">Paso #3</h4>
                        <p class="description">Preparar la documentación solicitada en el formulario de patentes.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="las la-book" style="color: #d6ff22;"></i></div>
                        <h4 class="title">Paso #4</h4>
                        <p class="description">Adjuntar los documentos solicitados en los campos correspondientes.</p>
                    </div>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="las la-file-alt" style="color: #d6ff22;"></i></div>
                        <h4 class="title">Paso #5</h4>
                        <p class="description">Descargar el comprobante que se le mostrará, cuando haya llenado todos los campos del formulario.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="las la-book" style="color: #3fcdc7;"></i></div>
                        <h4 class="title">Paso #6</h4>
                        <p class="description">Imprimir el comprobante y llevarlo presencialmente a la Municipalidad de Hojancha.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div id="requerimientos" class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Requerimiento para Solicitud de Patentes por Primera Vez</h2>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <br />
    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Lista de Requisitos Necesarios. </h2>
            </div>

            <div class="row content">
                <div class="col-md-5" data-aos="fade-right">
                    <img src="/Patentes/assets/img/ubicacion.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4" data-aos="fade-left">
                    <h3>Requisitos para Resolución de Ubicación.</h3>
                    <ul>
                        <li><i class="icofont-check"></i> Formulario único y declaración firmada debidamente llenos.</li>
                        <li>
                            <i class="icofont-check"></i> Presentar la cédula de identidad en caso de ser costarricense o DIMEX (Documento de Identidad Migratoria para Extranjeros)
                            en sus diversos estatus migratorios que le permitan laboral, en caso de ser extranjero(a).
                        </li>
                        <li>
                            <i class="icofont-check"></i> Presentar certificación de personería jurídica, con una fecha de emisión máxima de 3 meses (La certificaciones digitales, expedidas por el registro público,
                            tendrán una vigencia de 15 días hábiles).
                        </li>
                        <li><i class="icofont-check"></i> Plano catastrado (Se revisa internamente en la Municipalidad, pero si el mismo no se encuentra en la base de datos, el solicitante tendrá que presentarlo físicamente).</li>
                    </ul>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                    <img src="/Patentes/assets/img/work-process-2.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4" data-aos="fade-left">
                    <h3>Requisitos para Licencia Comercial.</h3>
                    <ul>
                        <li><i class="icofont-check"></i> Presentar póliza de riesgos de trabajo (Emitida por entidad aseguradora o exoneracón).</li>
                        <li>
                            <i class="icofont-check"></i> Inscribirse como contribuyente ante el Ministerio de Hacienda (para la actividad solicitada).
                        </li>
                        <li>
                            <i class="icofont-check"></i> Contrato de arrendamiento ( en caso de que no exista contrato por escrito, se deberá presentar una nota de autorizacón del propietario del inmueble, cuya firma deberá estar debidamente autenticada).
                        </li>
                        <li><i class="icofont-check"></i> Timbres fiscales ( cien colones en timbres fiscales o pago del entero).</li>
                        <li>
                            <i class="icofont-check"></i> Comprobante de pago o exoneración, según corresponda ( A favor del Servicio Nacional de Salud Animal del MAG o a favor del Ministerio de Salud, según corresponda o bien, el comprobante de exoneración
                            del pago, extendido por el IMAS.
                        </li>
                        <li><i class="icofont-check"></i> Regente o asesor médico veterinario, aprobado por el Colegio de Médicos Veterinarios (cuando aplique).</li>
                        <li><i class="icofont-check"></i> Presentar autorización por concepto de Derechos de Autor ACAM (cuando aplique).</li>
                    </ul>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-5" data-aos="fade-right">
                    <img src="/Patentes/assets/img/work-process-3.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5" data-aos="fade-left">
                    <h3>Requisitos que el Usuario No Debe presentar, pero Sí su Cumplimento.</h3>
                    <ul>
                        <li>
                            <i class="icofont-check"></i> Estar al día con los pagos de:<br />
                            Caja Costarricense de Seguro Social y FODESAF.
                        </li>
                        <li>
                            <i class="icofont-check"></i> No estar moroso con la Ley N° 9028 (El Ministerio de Salud revisa en el sistema que el solicitante no se encuentre moroso en el registro de infractores de la Ley General de Control de Tabaco y sus Efectos
                            Nocivos en la Salud).
                        </li>
                        <li>
                            <i class="icofont-check"></i> Estidio registral de la propiedad (la Municipalidad revias internamente el estudio registral de la propiedad a efectos de verificar que coincida la información que ahí consta con la información aportada en el formulario y
                            contrato de arrendamiento. Al no ser una certificación, no se cobrará al usuario).
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                    <img src="/Patentes/assets/img/work-process-1.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4" data-aos="fade-left">
                    <h3>Requisitos para Renovación del Permiso Sanitario de Funcionamiento.</h3>
                    <ul>
                        <li>
                            <i class="icofont-check"></i>Formulario único y declaración jurada llenos.
                        </li>
                        <li>
                            <i class="icofont-check"></i>Presentar comprobante de pago a favor del Ministerio de Salud.
                        </li>
                        <li>
                            <i class="icofont-check"></i>Certificación de verificación de las instalaciones electricas vigentes (cuando aplique).
                        </li>
                        <li>
                            <i class="icofont-check"></i>Presentar otros requisitos ( en caso de que hubiera vencido o cambiado el hecho generador).
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-5" data-aos="fade-right">
                    <img src="/Patentes/assets/img/work-process-3.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5" data-aos="fade-left">
                    <h3>Requisitos para Actualización de Registros de Certificado Veterinario de Operación.</h3>
                    <ul>
                        <li>
                            <i class="icofont-check"></i>Formulario único y Declaración Jurada debidamente llenos.
                        </li>
                        <li>
                            <i class="icofont-check"></i>Presentar comprobante de pago a favor del Servicio Nacional de Salud Animal del MAG.
                        </li>
                        <li>
                            <i class="icofont-check"></i>Presentar otros requisitos ( en caso de que hubiera vencido o cambiado el hecho generador).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End Work Process Section -->

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div id="contacto_ubicacion" class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Para Contacto o Ubicación de Nuestras Oficinas</h2>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <br />
    <!--Section Contactos -->
    <section class="ftco-section bg-light" style="color:#8c552e">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row mb-5">
                            <h2 class="subheading">Contáctenos</h2>
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d125711.73084623035!2d-85.417878!3d10.058746!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2000651b89c1e5b!2sMunicipalidad%20de%20Hojancha!5e0!3m2!1ses!2sbg!4v1602986960202!5m2!1ses!2sbg" width="1100" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Dirección: </span><a href="https://www.google.com/maps/place/Municipalidad+de+Hojancha/10.0585518,-85.4189673,18z/data=!4m5!3m4!1s0x8f9fbab7c3d45245:0xb2000651b89c1e5b!8m2!3d10.0587462!4d-85.4178777?hl=es" target="_blank">Costado Norte de Hojancha</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Telefóno: </span><a href="tel:+506 2659 9116">+506 2659 9116</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Correo: </span><a href="mailto:%69%6efo%40muniho%6aan%63%68a.%63om"> info@munihojancha.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Sito Web: </span><a href="http://www.munihojancha.com/" target="_blank">Muni Hojancha</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--Fin Section Contactos -->
</main><!-- End #main -->
