@using SYGESTMunicipal.Utility
@model SYGESTMunicipal.Areas.OFIM.Models.ViewModel.ActividadViewModel
@using SYGESTMunicipal.Extensions
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}


@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light"
                style="text-align:center;background-color:#dc3545;">
                Eliminar Actividades
            </h3>
        </div>
    </div>
    <br />

    <form asp-action="Delete" asp-controller="Actividad" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <input type="hidden" asp-for="Actividad.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Actividad.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Actividad.Name" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Actividad.Fecha" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Actividad.Fecha" readonly type="datetime" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Actividad.IsActive" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" asp-for="Actividad.IsActive" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Actividad.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Actividad.Category.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Actividad.EjeId" name="LblProductId" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Actividad.Eje.Name" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <input onclick="abrirModal()" type="submit" value="Eliminar" id="btnEliminar"
                           class="btn btn-danger" @*style="width: 80%;"*@
                           asp-route-id="@Model" />
                </div>
                <div class="col-md-1 text-md-center">
                    <a asp-action="Index" type="button"
                       class="btn btn-success">Regresar </a>
                </div>
            </div>

        </div>
    </form>
}

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Eliminar Actividad', '¿Desea Eliminar Esta Actividad?').then((result) => {
            if (result.value) {
                var viewEliminar = document.getElementById("viewEliminar");
                viewEliminar.submit();
                Swal.fire(
                    'Eliminado!',
                    'La actividad fue eliminada!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'La actividad no ha sido eliminada!!!:)',
                    'error'
                )
            }
        })
    }
</script>

