@model SYGESTMunicipal.Areas.OFIM.Models.Cupos
@using SYGESTMunicipal.Utility
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
    List<SelectListItem> Lista = ViewBag.ListaActividades;

}
@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light" style="text-align:center;
                              background-color:darkslategray;width:100%;">
                Detalles Cupos para Inscripción a Actividades
            </h3>
        </div>
    </div>
    <br />

    <form asp-action="Details" asp-controller="Cupos" method="post">
        <div class="container-fluid">

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Id" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Id" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Descripcion" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Descripcion" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="CupoMax" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="CupoMax" class="form-control" readonly="readonly" />
                </div>

            </div>


            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="IsActive" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" asp-for="IsActive"  disabled="disabled" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="ActividadId" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="ActividadId" disabled="disabled" class="form-control" readonly="readonly"
                            asp-items="@Lista"></select>
                </div>
            </div>

            <div class="form-group row">
               <div class="col-md-3 colo-lg-4 text-right">
                    <a asp-action="Index" class="btn btn-info"
                       style="width: 30%;">
                        Regresar
                    </a>
                </div>
            </div>

        </div>

    </form>
}

