@using SYGESTMunicipal.Utility
@model SYGESTMunicipal.Areas.OFIM.Models.TipoConsulta
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
    List<SelectListItem> Lista = ViewBag.ListaConsulta;
}
@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light" style="text-align:center;
                              background-color:#dc3545;width:100%;">
                Agregar un Tipo Consulta
            </h3>
        </div>
    </div>
    <br />

    <form asp-action="Create" asp-controller="TipoConsulta" method="post" id="viewAgregar">
        <div class="container-fluid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="NombreTipoConsulta" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="NombreTipoConsulta" class="form-control" />
                </div>
                <span asp-validation-for="NombreTipoConsulta" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="PersonaOFIMId" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="PersonaOFIMId" class="form-control"
                            asp-items="@Lista"></select>
                </div>
                <span asp-validation-for="PersonaOFIMId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <input type="button" value="Agregar" id="btnAgregar"
                           class="btn btn-info" @*style="width: 80%;"*@
                           onclick="abrirModal()" />
                </div>
                <div class="col-md-1 text-md-center">
                    <a asp-action="Index" type="button"
                       class="btn btn-success">
                        Regresar
                    </a>
                </div>
            </div>
        </div>
    </form>
}

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar Tipo De Consulta', '¿Realmente Desea Agregar Este Tipo de Consulta?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'El tipo de consulta fue agregado!',
                    'exitosamente!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'El tipo de consulta no ha sido agregado!!!:)',
                    'error'
                )
            }
        })
    }
</script>