@using SYGESTMunicipal.Utility
@model SYGESTMunicipal.Areas.OFIM.Models.TipoConsulta
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
    List<SelectListItem> Lista = ViewBag.ListaConsulta;
    String Error = @ViewBag.msgError;

}
@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light" style="text-align:center;
                              background-color:darkslategray;width:100%;">
                Editar un tipo Consulta
            </h3>
        </div>
    </div>
    <br />
    <form asp-action="Edit" asp-controller="TipoConsulta" method="post" id="viewEditar">
        <div class="container-fluid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="TipoConsultaId" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="TipoConsultaId" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="NombreTipoConsulta" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="NombreTipoConsulta" class="form-control" />
                </div>
                <span asp-validation-for="NombreTipoConsulta" class="text-danger"></span>
                @if (@Error != null && @Error != "")
                {
                    <p class="text-danger">@Error</p>
                }
            </div>


            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="PersonaOFIMId" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="PersonaOFIMId" class="form-control" value="@ViewBag.ID"
                            asp-items="@Lista"></select>
                </div>
                <span asp-validation-for="PersonaOFIMId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-5">
                    <input type="button" value="Editar" id="btnEditar"
                           class="btn btn-info" @*style="width: 80%;"*@
                           onclick="abrirModal()" />
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-5">
                    <a asp-action="Index" type="button"
                       class="btn btn-success">Regresar </a>
                </div>
            </div>
        </div>
    </form>
}


<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Modificar', '¿Realmente Desea modificar?').then((result) => {
            if (result.value) {
                var viewEditar = document.getElementById("viewEditar");
                viewEditar.submit();
                Swal.fire(
                    'Modificado!',
                    'Operación con éxito!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'Operación Fracasada!!!:)',
                    'error'
                )
            }
        })
    }
</script>




