@model IEnumerable<SYGESTMunicipal.Areas.OFGA.Models.MaterialType>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Tipo de Materiales</h2>

                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="Index">Gestión Ambiental</a></li>
                <li>Tipo de Materiales</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    
    <div class="border backgroundWhite">
        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Lista de tipo de materiales</h2>
            </div>
            <div class="col-lg-6 text-right">
                @*//CREAR UNA VISTA PARCIAL DEL BOTON CREAR*@
                <partial name="_CreateButtonPartial" />
            </div>
        </div>
        @*//Vista del filtro*@
        <div class="row">
            <div class="col-12 text-right">
                <partial name="_Filter" />
            </div>
        </div>

        <br />
        <div>
            
            @if (Model.Count() > 0)
            {
            <table class="table table-hover .table-responsive" id="TbSolidWaste">
                <thead class="thead-dark">
                    <tr class="table-secondary" style="text-align:center;">
                        
                        <th>@Html.DisplayNameFor(m => m.MaterialTypeName)</th>
                        <th>@Html.DisplayNameFor(m => m.Description)</th>

                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @foreach (var item in Model)
                    {
                    <tr>
                        
                        <td>@Html.DisplayFor(m => item.MaterialTypeName)</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>

                        <div class="col-lg-6 text-right">
                            <a><partial name="_TableButtonPartial" model="item.MaterialTypeId" /></a>
                        </div>

                    </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
            <h5 style="color:red;">No se encontraron registros!...</h5>
            }
        </div>
    </div>
    </main>
