@using SYGESTMunicipal.Utility
@model SYGESTMunicipal.Areas.OFIM.Models.ViewModel.EjeAndCategoryViewModel
@using SYGESTMunicipal.Extensions

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light" style="text-align:center;
                              background-color:darkslategray;width:100%;">
                Agregar un Eje
            </h3>
        </div>
    </div>
    <br />

    <form asp-action="Create" asp-controller="Eje" id="viewAgregar">
        <div class="container-fluid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Eje.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Eje.Name" class="form-control" />
                </div>
                <span asp-validation-for="Eje.Name" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Eje.CategoryID" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <select id="ddlCategorylist" asp-for="Eje.CategoryID" asp-items="Model.CategoryList.ToSelectListItem(Model.Eje.CategoryID)" class="form-control"></select>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-offset-5 text-md-right">
                    <input type="button" value="Agregar" id="btnAgregar"
                           class="btn btn-info" @*style="width: 80%;"*@
                           onclick="abrirModal()" />
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-2 text-md-center">
                    <a asp-action="Index" type="button"
                       class="btn btn-success">
                        Regresar
                    </a>


                </div>
            </div>
        </div>
    </form>
    <div class="col-3 offset-1">
        @if (Model.EjeList.Count() > 0)
        {
            <p> Eje Existente para esta Categoria: </p>
            <div id="EjeList">
                <ul class="list-group"></ul>
            </div>
        }
    </div>
}

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateEjeList() {
            var ejeSelected = document.getElementById("ddlCategorylist").value;
            $list = $('#EjeList');
            $.ajax({
                url: '/OFIM/Eje/GetEjes/' + ejeSelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }
            });
        }
        $(document).ready(function () {
            updateEjeList();
        });
        $("#ddlCategorylist").on("change", function () {
            updateEjeList();
        });
    </script>
}

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
<script>
    function abrirModal() {
        verModal('Agregar Eje', '¿Realmente Desea Agregar Este Eje?').then((result) => {
            if (result.value) {
                var viewAgregar = document.getElementById("viewAgregar");
                viewAgregar.submit();
                Swal.fire(
                    'El eje fue agregado!',
                    'exitosamente!.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire(
                    'Cancelado',
                    'El eje no ha sido agregado!!!:)',
                    'error'
                )
            }
        })
    }
</script>
