
@using SYGESTMunicipal.Areas.OFIM.Models.ViewModel

@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}





<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Redes de Atención</h2>
        </div>

    </div>

    <br />

    <div>


        @*Fin Sección 3 *@
        <section class="ftco-section ftco-bg-dark-main">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section text-center ftco-animate">
                        <span class="subheading">Nuestra Agenda</span>
                        <h2 style="color:white">ACTIVIDADES DISPONIBLES</h2>
                    </div>
                </div>
                <ul id="menu-filters" class="menu-filter-list list-inline text-center">
                    <li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Mostrar Todo</li>
                    @foreach (var item in Model.Consulta)
                    {
                        <li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
                    }
                </ul>
                @foreach (var category in Model.Consulta)
                {
                    <div class="row" id="menu-wrapper">
                        <partial name="_ThumbnailAreaPartial"
                                 model="@Model.Consulta.Where(u=>u.Consulta.Motivo.Equals(category.Name))" />
                    </div>
                }
            </div>
        </section>


    </div>
</div>
}


